<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="cacheDbSection" type="CacheDB.Net.CacheDbSection, CacheDB.Net"/>
  </configSections>
  <cacheDbSection>

    <dbManager type="CacheDB.Net.implement.LevelDBManager,CacheDB.Net"
            formater="CacheDB.Net.BinaryFormater.Formater, CacheDB.Net.BinaryFormater">
      <properties>
        <add name="Path" value="test"/>
      </properties>
    </dbManager>
    <levels>
      <add name="l1" maximum="1000" upgradeValue="1"/>
      <add name="l2" maximum="5000" upgradeValue="10"/>
      <add name="l3" maximum="50000" upgradeValue="10"/>
    </levels>
  </cacheDbSection>
</configuration>